section.bio
  .wrap
    .container
      .heading
        h1 Bio
        p Economics and International Development Researcher
      p.description My research focuses on political economy of development, behavioral economics and technological change as well as the economics of information and human-computer interaction.
      .social-media
        .social-icon
        .social-icon
        .social-icon
        .social-icon
        .social-icon
    #achievements(class="container")
      ol.list
        li 
          h3 Education
            p.subheading University of California, San Diego
            p 2013-2015 | B.S. in Economics and International Development
            //- Data for the Education Portion
            //- p.subheading #{data.schools[i].name}
            //- p #{data.schools[i].dateGraduated} | #{data.schools[i].degree}
        li 
          h3 Honors
          ul.achievement-list 
            li Dean's List | Winter 2015
        li
          h3 Fellowships & Scholarships
          ul.achievement-list
            li Ronald E. McNair Post-baccalaureate Achievement Program
            li International Studies & Economics Scholarship
        li
          h3 Publications
          ul.achievement-list
            li Ethiopia's new light rail might not signal a bright future.
              p.source — Prospect Journal - 12/2/2015
            li Ethiopia's new light rail might not signal a bright future.
              p.source — Prospect Journal - 12/2/2015
            li
              //- each school, i in schools
              //-   p.subheading #{school.name}
              //-   p #{school.dateGraduated} | #{school.degree}
        
  
    
